# Firebase Configuration
EXPO_PUBLIC_FIREBASE_API_KEY=KSNEJBCUEJCEDC
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=DCERFRFXRGT
EXPO_PUBLIC_FIREBASE_PROJECT_ID=CFVFDSDCCRFCD
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=CDREFRFRGTGG
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=CFVRGTGT
EXPO_PUBLIC_FIREBASE_APP_ID=CVRTGGVCDF

# Google Maps (optional)
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=your_maps_key_here

# API URLs
EXPO_PUBLIC_API_URL=http://localhost:3000
EXPO_PUBLIC_API_TIMEOUT=30000
